{% extends "layouts/base.html"  %}
{% block title %} {% endblock %}
{% block header %}
    {% include "layouts/nav.html" %}
{% endblock %}"
{% block article %} 
{% if message %}  {{ message }} ! {% endif%}
<div class="container">
    <p> {{message}} </p>
<form action="{% url "inscription" %}" method="POST"  class="text-center blue border-light p-5" >
    {% csrf_token %}
    <div class="modal-body mx-3">
    {{ form.as_p }}

    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-black"> <i class="fas fa-paper-plane-o ml-1">inscription</i></button>
    </div>
</form>
</div>
{% endblock %}
{% block footer %}
  
{% endblock %}